@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
/* close commented backslash hack */

body {
  font-family: "Jost", sans-serif;
  background-color: #86c2f0;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Merriweather", serif;
}

h2{
  width:60%;
  float:left;
}

h4{
  float:right;
  font-weight:400;
  width:30%;
  margin-top:26px;
  text-align:right;
}

#aux a {
  color: #0e1c20;
}

#contenedor {
  width: 1200px;
  background-color: #82a0df;
  margin: 0 auto;
}

label{
  min-width: 80px;
  text-align:left;
  display:inline-block;
  vertical-align:top;
}

.duracion{
  float:right;
}

textarea{
  min-height:80px;
}

p.ver-mas {
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    color: #243F5D;
}

#logo {
  margin: 20px;
  float: left;
}

#aux {
  float: right;
  clear: right;
  padding: 0 24px 10px 0;
}

#navPrincipal a {
  color: #0e1c20;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

#navPrincipal input[type="button"] {
    color: #0e1c20;
    cursor: pointer;
    color: #214F4B;
    font-size: 14px;
  }

#aux a {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

#navPrincipal {
  float: right;
  margin-top: 5px;
  margin-right: 120px;
  max-width: 890px;
}



#navPrincipal li {
  font-family: "Merriweather", serif;
  list-style-type: none;
  padding: 2px;
  border-bottom: 0px solid #214F4B;
  float: left;
}

#cabezal {
  background-color: hsl(320, 74%, 73%);
}

#cabezal img {
  width: 100px;
  float: left;
  border:5px solid #214F4B;
}

#contenido {
  /*background-color: #DFDFDF;*/
  /*width: 590px;*/
  padding: 20px;
  float: left;
}

#contenido img{
  max-width:100%;
  margin-bottom: 1%;
}

#lateral {
  background-color: #efefef;
  width: 290px;
  float: left;
  padding: 20px;
}

#lateral,
#contenido {
  min-height: 250px;
}

#pie {
  background-color: #7cbbdd;
  clear: both;
  padding: 20px;
  color: #fff;
  font-size: 12px;
}

input,
select, textarea {
  background-color: #86c2f0;
  color: #000;
  border: 1px solid #214F4B;
  padding: 5px 10px;
  font-family: "Jost", sans-serif;
  min-width: 100px;
  border-radius: 5px;
  font-size:14px;
  cursor: pointer;
}

input[type="button"] {
  background-color: #86c2f0;
  color: #214F4B;
  font-weight:bold;
  width: 10%;
}

#pie a {
  text-decoration: none;
  color: #214F4B;
}